ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

/*main page*/
.MainPage{
  height: 100vh;
  width:100%;
}

/*top pane*/
.top-bar{
  height:12%;
  background-color: #F6F8F8;
}
.logo-bar{
  top: 5px;
  width: 219px;
  height: 45px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  background-color:#f6f8f8;
  text-align: center;
}
.search-bar{
  background-color:#3aa0be;
}

.SearchForm{
  height:100%
}

.SearchBox{
  left: 413px;
  width: 40%;
  height: 35px;
  background: #F8FAFB 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  margin-top:5vh;
  margin-left:5vh;
  font-size: 2vh;
  padding:0.5%
}
.SubmitButton{
  height:4vh;
  width:10%;
  padding:0.5%;
  margin-left:2vw;
  text-align: center;
  font: Bold 90% Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background: #4CA2FF 0% 0% no-repeat padding-box;
  border-radius: 26px;
}

.SideBarTitles{
  
  left: -1px;
  width: 100%;
  height: 5vh;
  background: #3aa0be 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  opacity: 1;
  font-weight: bold;
  font: 'Medium 20px/70px Roboto';
  border:none;
}
.SideBarTitles:hover{
  
  background-color:white;
  color: #4CA2FF;
}
.SideBarTitles:focus{
  
  outline:none
}

/*bottom pane*/
.bottom-layout{
  height:88%;
}
.side-bar-layout{
  height:100%;
  background-color: #3aa0be;
}

.content-layout{
  height:100%;
  background-color: #9acce6;
}

.layout{
  height:85%;
  background-color: #61dafb;
}
.side-bar{
  background-color: antiquewhite;
}
.main-content {
  background-color: blue;
}